@import "../../bootstrap/variables.scss";

#appWrapper {
    position: relative;
}

#appBackground {
    position: absolute;
    top: 0;
    overflow: hidden;
}

#appForeground {
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 2;
    min-height: 70%;
    display: flex;
    flex-direction: column;
}

.foreground-container {
    background-color: rgba($body-bg, 0.7);
    flex: 1;
    backdrop-filter: blur(16px);
}

.app-title {
    font-size: calc(2.5rem + 2.1vw);
}

.app-title-branding {
    display: block;
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
}

#playBar {
    font-size: 18px;
    background-color: rgba(black, 0.1);
}

.spinner-border.app-btn-spinner {
    width: 30px;
    height: 30px;
}

.progress-spinner {
    margin-top: 2px;
}

#appDetails {
    background-color: rgba(white, 0.02);
    width: 30%;
    border-bottom-left-radius: 0.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.feed-yt {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 60%;
}

.custom-input-wrapper {
    background-color: $gray-700;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,
                box-shadow 0.1s ease-in-out,
                border-radius 0.2s ease-in-out;

    &:focus-within {
        background-color: $gray-700;
        outline: none;
        border-color: rgba($secondary, 0.85);
        box-shadow: 0 0 0 0.2rem rgba($primary, 0.85);
    }
}

.input-group-text.custom-input {
    border: none;
    background-color: darken($gray-600, 10%);
    transition: background-color .15s ease-in-out;

    &:hover {
        background-color: darken($gray-600, 13.5%);
    }
}

.form-control.custom-input {
    background: none;
    border: none;

    &:focus {
        background: none;
        outline: none;
        border: none;
        box-shadow: none;
    }
}