@font-face {
    font-family: "Poppins";
    src: url("../../fonts/Poppins-Bold.ttf") format("truetype");
}

$descSize: 16px;
$descLines: $descSize * 1.5 * 4;

#description.collapse:not(.show) {
    display: block;
    font-size: $descSize;
    max-height: $descLines;
    overflow: hidden;
}

#description.collapsing {
    min-height: $descLines;
    transition-timing-function: linear;
}

#description {
    margin-bottom: 0.5rem;
}

#descToggler {
    margin-top: -5px;
}

.highlight-area {
    background: rgba(45,148,255,0.9);
    background: linear-gradient(118deg, rgba(45,148,255,0.9) 19%, rgba(106,48,255,0.9) 53%, rgba(208,51,255,0.9) 100%);
    font-family: Poppins;
}

.price {
    font-size: 32px;
    margin-bottom: 1px;
}

.play-title {
    font-size: 20px;
}

.buy-btn {
    border: 0;
    background: none;
    background-color: white;
    position: relative;
    transition: transform .2s, box-shadow .2s, color .15s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.6);
    }

    &:active {
        color: rgba(0, 0, 0, 0.75);
    }
}

.big-emoji {
    font-size: 24px;
}

#genres-display {
    font-size: 14px;

    span.badge {
        font-size: 14px;
    }
}

.preview-youtube {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: block;
}

#appPreviewContainer {
    background-color: #1F2428;
}