@import '../bootstrap/variables';
@import '../functions';

#featured-description {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.no-border {
    &.card-footer {
        border-top: 0;
    }
    &.card-header {
        border-bottom: 0;
    }
}

.pointer-click {
    cursor: pointer;
}

.action-card-wrapper {
    padding-right: 0.8rem;
}

span.action-card-icon {
    font-size: 70px;
    transition: .2s ease-in-out;
}

.action-card {
    min-width: 118px;
}

.action-card:hover {
    background-color: tint($card-bg, 3%);
    transition: background-color .2s;

    .action-card-icon {
        color: rgba(255, 255, 255, 0.85);
        transform: scale(1.05);
    }
}

.featured-banner {
    transition: .75s;
}

.featured-banner:hover {
    transform: scale(1.1);
}